<center>
<div class="card bg-light mb-3">
  <div class="card-header"><h2>Customer Edit</h2></div>
  <div class="card-body">
    <%= form_for @customer,url: "/customer/#{@customer.id}/update" do |f| %>
      <fieldset>
        <div class="form-group">
          <%= f.email_field :email, autocomplete: "off", autofocus: true, class: 'form-control', placeholder: "Email*",required: true%> 
        </div>
        <div class="form-group">
          <%= f.text_field :name, autocomplete: "off", autofocus: true, class: 'form-control', placeholder: "Name*",required: true%> 
        </div>
        <div class="form-group">
          <%= f.text_area :address, class: 'form-control', placeholder: "Address*",required: true %>
        </div>
        <div class="form-group">
          <%= f.text_field :pincode, autofocus: true, class: 'form-control', placeholder: "Pincode*",required: true,id: "pincode"%> 
        </div>
        <div class="form-group">
          <%= f.text_field :mobile, autofocus: true, class: 'form-control', placeholder: "Mobile-Number*",required: true,id: "mobile"%> 
        </div>
        <div class="form-group">
          <%= f.text_area :remarks, autofocus: true, class: 'form-control', placeholder: "Remarks"%> 
        </div>
        </fieldset>
        <br>
        <button type="submit" class="btn btn-danger medium-button">Update</button>
      </fieldset>
    <%end%>
  </div>
</div>
</center>
<script type="text/javascript">
  $('#new_customer').submit(function(event) {
    var is_error = false;
    var pincode_validation_pattern=/^[0-9]{1,6}$/;
    var mobile_number_validation_pattern=/^[0-9]{1,10}$/;
    if(!pincode_validation_pattern.test($("#pincode").val()))
    {
      alert("Pin code should be 6 digits ");
      $("#pincode").focus();
      is_error = true;
    }
    if(!mobile_number_validation_pattern.test($("#mobile").val()))
    {
      alert("Mobile-Number should be 10 digits ");
      $("#mobile").focus();
      is_error = true;
    }
    if(is_error ==true){
      event.preventDefault();
    }
  });
</script>